body.page-header-fixed {
    font-size: 14px;
    background: #009dc7 !important;
}

.page-header .navbar-fixed-top {
	background: #009dc7 !important;
}

.image-placeholder {
	background-color: #DDD;
	height: 256px;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

.typeahead { z-index: 1051;  width: 100%}

.btn {
	border-radius: 6px !important;
}

.book-page .btn.btn-gray{
	margin-top: 10px;
	color: #000 !important
}

.btn-gray {
	border-color: #b5c3c9 !important;
}

.book-page .btn.btn-gray:hover, .book-page .btn.btn-gray:active {
	color: #fff !important
}

.book-page #uploadForm {
	height: 304px !important;
    width: 195px ;
}

.margin-top {
	margin-top: 10px;
}

.page-header .navbar .topbar-actions .btn-group-img .btn {
	background: #007291 !important;
}

.page-header .navbar .topbar-actions .btn-group-img .btn>span {
	color: #fff !important;
	text-align: right;
}

.page-header .navbar .topbar-actions .btn-group-img .btn>img{
	border-radius: 2px !important;
}

.page-header .navbar .navbar-toggle .icon-bar {
	background: #fff !important;
}

.search-title {
	font-size: 20px !important;
    margin: 10px 0 20px !important;
    font-weight: 600 !important;
}

.search-title a{
	color: #337ab7; 
}

.search-desc {
	color: #a0a9b4;
    font-size: 13px;
    margin: 0;
}

.writer {
	 max-width: 900px;
    width: auto;
    margin: 0 auto;
    padding: 48px 10px;
    background-color: #fff;
}


.writer #post-title{
	margin-top: 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
    font-size: 32px;
    font-weight: 400;
}

.writer .editable {
	min-height: 500px;
    padding-bottom: 500px;
    font-size: 18px;

    line-height: 24px;
}

.page-content {
	padding-top: 30px;
}
.dropdown-menu li  .btn-link {
	padding: 8px 16px;
    color: #6f6f6f;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
}

.medium-insert-active {
    position: relative;
}

.search-item:nth-child(even) {
  background-color: #EFEEEE
} 



/*Loading
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: 'Loading..';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
    height:60px;
  width:60px;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  border-left:6px solid rgba(0,174,239,.15);
   border-right:6px solid rgba(0,174,239,.15);
   border-bottom:6px solid rgba(0,174,239,.15);
   border-top:6px solid rgba(0,174,239,.8);
   border-radius:100%;
  
}

button.btn-mobileSelect-gen {
    
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #c2cad8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    color: #555;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    width: 100% !important;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
