#author, #author .page-header .navbar-fixed-top {
  background: #009dc7;
}


#author .page-header .navbar .navbar-nav>li>a {
  background: #007291;
  color: #8fb0bd
}

#author .page-header .navbar .navbar-nav li.open.selected>a, #author .page-header .navbar .navbar-nav li.open:hover>a, .page-header .navbar .navbar-nav li.open>a {
  background: #f9f9f9;
}