body.page-header-fixed {
    font-size: 14px;
    background: #009dc7 !important;
}

.page-header .navbar-fixed-top {
	background: #009dc7 !important;
}

.image-placeholder {
	background-color: #DDD;
	height: 256px;
}

.btn {
	border-radius: 6px !important;
}

.book-page .btn.btn-gray{
	margin-top: 10px;
	color: #000 !important
}

.btn-gray {
	border-color: #b5c3c9 !important;
}

.book-page .btn.btn-gray:hover, .book-page .btn.btn-gray:active {
	color: #fff !important
}

.book-page #uploadForm {
	height: 304px !important;
    width: 195px ;
}

.margin-top {
	margin-top: 10px;
}

.page-header .navbar .topbar-actions .btn-group-img .btn {
	background: #007291 !important;
}

.page-header .navbar .topbar-actions .btn-group-img .btn>span {
	color: #fff !important;
	text-align: right;
}

.page-header .navbar .topbar-actions .btn-group-img .btn>img{
	border-radius: 2px !important;
}

.page-header .navbar .navbar-toggle .icon-bar {
	background: #fff !important;
}

.search-title {
	font-size: 20px !important;
    margin: 10px 0 20px !important;
    font-weight: 600 !important;
}

.search-title a{
	color: #337ab7; 
}

.search-desc {
	color: #a0a9b4;
    font-size: 13px;
    margin: 0;
}
}